*{
    margin: 0;
    padding: 0;
}

body{
    /* background-color:#ffff ; */
    background-color:#b3b3b3 ;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.site-header{
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #20dd5f;
    background-color: #383837;
    margin: 0;
    padding: 10px;
    border: #636363 1px solid;
    
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}


.brand a{
    margin: auto;
    display: flex;
    justify-content: space-between;
    border: #000000 2px solid;
    background-color: #ffffffff;
    align-items: center;
    gap: 10px;
    color: black;
}
.brand:hover{
    transform: scale(1.1);
    transition:  0.5s;
}

#logo:hover{
    transform: rotate(360deg);
    transition: all 1s;
}

.menu-list{
    margin-block: 20px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    font-size: 30px;
    color: #000000;
}

.menu-list a{
    color: #000000;
    background-color: #fffffffb;
    border: #000000 2px solid;
    border: #383837 2px solid;
    border-radius: 15px;
    padding-inline: 5px;
    transition: 1s;
}

.menu-list li:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.menu-list a:hover{
    color: #ffffff;
    background-color: #20dd5f;
    transition:  0.5s;
}


.menu-catalog:hover{
    color:#cafd63;
    transition:  0.5s;
}

.search{
    padding-block: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.search input{
    text-decoration: none;
    border: none;
    width: 200px;
    height: 60px;
    background-color: #ffffff;
    font-size: 30px;
}

.search_button{
    height: 60px;
    background-color: #000000;
    transition: all 1s;
    color: #ffffff;
}

.search button:hover{
    transform: scale(1.1s);
}

.search_button:hover{
    transform: scale(1.1s);
    color: #000000;
    background-color: #20dd5f;
    transition: all (0.5s);
}


.layout{
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: start;
}

.sort-list{
    color: #ffffff;
    position: sticky;
    top: 100px;
    list-style: none;
    background-color: #383837;
    /* height: 1000px; */
    height: fit-content;
    padding: 20px;
    border: #636363 3px solid;
}

.sub-categories li{
    display: none;
    border: #0000003a 1px solid;
    background-color: #494949;
}

.sub-categories label{
    color: #20dd5f;
}

.sub-categories input{
    background-color: #51f889;
} 

.sort-list button{
    text-decoration: none;
    background-color: #51f889;
}

.sub-categories button{
    background-color: #ff0000;
}

.product-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
    justify-content: center;
}

.product{
    border: #636363 1px solid;
    width: 200px;
    background-color: #ffffff;
    transition: 1s;
    color: #000000;
    text-align: center;
}

.product img{
    padding: 25px;
    background-color: #ffffff;
    
}

.product h1{
    text-decoration: none;
    color: #000000;
    font-size: medium;
}

.price{
    font-style: italic;
    /* border: #000000 2px dashed;
    background-color: red; */
}

.product:hover{
    transform: scale(1.1);
    background-color: #51f889;
    transition: 0.5s;
}
   
.product img:hover{
    border: #383837 1px solid;
    transition: 0.5s;
}